files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_restart_delayed_job.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      su -c "pm2 restart all" $EB_CONFIG_APP_USER

option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 18.18.0
    GzipCompression: true
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /public: public
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
